.App {
  text-align: center;
}

.App-profilepic {
  width: 210px;
  height: 270px; 
  float : left;
  margin : 1px 5px 5px 50px; 
  border-radius: 150px; 
  box-shadow: 1px 1px 2px 4px tan; 
}

.navlist {
  color: #63a11b;
  display: flex;
}

ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: large;
  padding: 50px;
  justify-content: space-around;
}

.caption1{
  background-color: #2F4F4F;
  text-shadow: 5px 2px black;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 10px tan;
  color: rgb(255,255,255);
}

.hr-line{
  width:"950";
  size:"5";
}

.homesection{
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card{
  box-shadow: 0 4px 8px 0 #b7dd0c;
  transition: 0.3s;
  padding: 12px 18px;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 tan;
}